.chickenimg img:hover {
    opacity: 0.5;
}

* {
    background: #ffcc0b;
    background: -moz-linear-gradient(
        45deg,
        #ffcc0b 0%,
        #ffb479 50%,
        #fffa90 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #ffcc0b 0%,
        #ffb479 50%,
        #fffa90 100%
    );
    background: linear-gradient(45deg, #ffcc0b 0%, #ffb479 50%, #fffa90 100%);
}
.title {
    display: flex;
    justify-content: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-shadow: 2px 2px 7px 1px #ffff99;
    background-color: #ffff99;
    text-shadow: 1px 2px 2px #ff0303;
}
